{% extends "base.html" %}
{% load static %}
{% load bootstrap%}
{% load bootstrap4 %}
{% block content %}

<div class="content">
  <div class="row">
        <div class="col-md-4">
            <div class="card card-user">
                <div class="image">
                <img src="{{user.adminwaterhole.waterhole_admin.logo.url}}" alt="...">
                </div>
                <div class="card-body">
                <div class="author">
                    <a href="#">
                    <img class="avatar border-gray" src="{{user.adminwaterhole.waterhole_admin.logo.url}}" alt="photo-profile">
                    <h5 class="title">{{user.adminwaterhole.waterhole_admin.name}}</h5>
                    </a>
                    <p class="description">DELEGADO: {{comitte.delegate}}</p>
                    <p class="description">SECRETARIA: {{comitte.secretary}}</p>
                </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            {% if messages %}
            <div id="message" class="messages alert alert-success">
                {% for message in messages %}
                <h3>{{message}}</h3>
                {% endfor %}
            </div>
            {% endif %}
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Registro Comité</h4>
                </div>
                <div class="card-body">
                    <form action="." method="POST">
                        {%csrf_token%}
                        {% bootstrap_form form %}
                        <p>
                            <div class="text-center">
                                <input type="submit" value="Registrar" name="comite" class="btn btn-primary" target="_blank">
                            </div>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
  


{% endblock content %}