{% extends "base.html" %}
{% load static %}
{% load humanizelib %}
{% load bootstrap%}
{% block content %}


<div class="content">
	
	<a href="{% url 'finance:registry-outflow' %}">
	    <button class="btn btn-outline-primary btn-round">
	        <i class="fas fa-pen"></i> Nuevo Egreso
	    </button>
	</a>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Egresos</h4>
        <p>Total de Egresos: <strong> $ {{total|floatformat:2|intcomma}}</strong></p>
        <!--{% if messages %}
          <div id="message" class="messages alert alert-success">
            {% for message in messages %}
            <h3>{{message}}</h3>
            {% endfor %}
          </div>
        {% endif %}-->
      </div>
      <div class="card-body">
        
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
              	# registro
              </th>
              <th>
                Concepto
              </th>
              <th>
                Costo
              </th>
              <th>
              	Fecha
              </th>
              <th>
                Admin
              </th>
            </thead>
            <tbody>
            {% for o in outflows  %}
              <tr>
              	<td>
              	  {{o.number_registry}}
              	</td>
                <td>
                  {{o.subject}} 
                </td>
                <td>
                  $ {{o.quantity}} MXN
                </td>
                <td>
                	{{o.date}}
                </td>
                <td>
                	{{o.admin_waterhole_outflow}}
                </td>
              </tr>
            {% endfor %}  
            </tbody>
          </table>
        </div>
    
      </div>
      {% include "pagination_outflows.html" with page=outflows %}
    </div>
  </div>
</div>
</div>

{%endblock content%}