
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if page.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page.previous_page_number }}">
          <i class="fa fa-angle-left"></i>
          <span class="sr-only">Anterior</span>
        </a>
      </li>
      {%endif%}
      <li class="page-item active"><a class="page-link" href="#">{{ page.number }} </a></li>
      <li class="page-item disabled"><a class="page-link" href="#">de </a></li>
      <li class="page-item"><a class="page-link" href="#">{{ page.paginator.num_pages}} </a></li>
      {% if page.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page.next_page_number }}">
          <i class="fa fa-angle-right"></i>
          <span class="sr-only">Siguiente</span>
        </a>
      </li>
      {%endif%}
    </ul>
  </nav>
