{% extends "base.html" %}
{% load static %}
{% load bootstrap%}
{% block content %}
<div class="content">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="{{ client_profile.waterhole_client.logo.url }}" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            
            <img class="avatar border-gray" src="{{ client_profile.photo_avatar.url }}" alt="...">
            <h5 class="title">Cliente: {{client.first_name}} {{client.last_name}}</h5>
            <p class="description">Contrato: {{contract.number_register}}</p>
            
            <p class="description">Dirección</p>
            <p class="title">{{adress.street}},#{{adress.interior_number}},Ext.{{adress.ext_number}},{{adress.neighborhood}},{{adress.cp}},{{adress.delegation}}</p>
            <p class="description">Zona:</p>
            <p class="title">{{contract.zone_waterhole}}</p>
            <p class="description">{{client_profile.waterhole_client.name}}</p>
            <p class="description">{{client_profile.waterhole_client.address}}</p>
            <p>
              <a href="{% url 'account:pdf_contract' client_profile.id %}" class="btn btn-info" target="_blank">Imprimir Contrato</a>
              <a onclick="return abrir_modal('{% url 'account:generate_ticket' client_profile.id %}')" class="btn btn-info" target="_blank">Generar Recibo</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
        <div class="card card-user">
          <div class="card-header card-header-info">
              <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
              <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                      <ul class="nav nav-tabs" data-tabs="tabs">
                          <li class="nav-item">
                              <a class="nav-link active" href="#home" data-toggle="tab">Datos Personales</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#updates" data-toggle="tab">Direción</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#adress" data-toggle="tab">Historial de pagos</a>
                        </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="card-body ">
              <div class="tab-content">
                  <div class="tab-pane active" id="home">
                    <form  action="." method="post"  enctype='multipart/form-data'>
                      {% csrf_token %}
                      {{form_client|bootstrap}}
                      {{form_client_profile|bootstrap}}
                  </div>
                  <div class="tab-pane" id="updates">
                      {{form_adress|bootstrap}}
                      <div class="text-right">
                        <input type="submit" name="guardar" value="Guardar" class="btn btn-success">
                      </div>
                  </div>
                  <div class="tab-pane" id="adress">
                    <table class="table">
                        <thead class=" text-primary">
                          <th>
                            Folio
                          </th>
                          <th>
                            Fecha
                          </th>
                          <th>
                            Costo
                          </th>
                          <th class="text-right">
                            Ver Detalle
                          </th>
                        </thead>
                        <tbody>
                        {% for t in ticketss %}
                          <tr>
                            <td>
                              {{t.folio}}
                            </td>
                            <td>
                              {{t.date}} 
                            </td>
                            <td>
                              $ {{t.cost}}
                            </td>
                            <td class="text-right">
                              <a href="{{t.get_ticket_id}}" target="_blank" class="btn btn-info">Imprimir</a>
                            </td>
                          </tr>
                        {% endfor %}  
                        </tbody>
                      </table>
                      {% include 'ticket/paginattion.html' with page=ticketss %} 
                      
                  </div>  
              </div>
            </form>
          </div>
        </div>
    </div>
</div>
</div>
<!--Abrir Modal Ticket-->
<div id="popup" class="modal fade" role="dialog">

</div>
<script>
  function abrir_modal(url)
{
        $('#popup').load(url, function()
        {
                $(this).modal('show');
        });
        return false;
}

function cerrar_modal()
{
        $('#popup').modal('hide');
        return false;
}
</script>
{%endblock content%}