{% extends "base.html" %}
{% load static %}
{% load bootstrap%}
{% block content %}

<div class="content">
  <div class="row">
    <div class="col-md-6">
      <a href="{% url 'account:registry-client' %}">
        <button class="btn btn-outline-primary btn-round">
          <i class="fas fa-pen"></i> Registrar Cliente Nuevo
        </button>
      </a>
    </div>
    <div class="col-md-6">
      <form class="form-inline" method="GET" action="">
          <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" placeholder="nombre,celular o apellidos" value='{{request.GET.q}}' name="q">
          </div>
          <button type="submit" class="btn btn-primary mb-2">Buscar</button>
        </form>
    </div>
  </div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Clientes</h4>
        {% if messages %}
          <div id="message" class="messages alert alert-success">
            {% for message in messages %}
            <h3>{{message}}</h3>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <div class="card-body">
        {% if great %}
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Foto
              </th>
              <th>
                Nombre
              </th>
              <th>
                Apellidos
              </th>
              <th>
                Email
              </th>
              <th class="text-right">
                Ver Detalle
              </th>
            </thead>
            <tbody>
            {% for client in clients  %}
              <tr>
                <td>
                  <img src="{{ client.photo_avatar.url }}" class="img-responsive img-circle" width="50"></img>
                </td>
                <td>
                  {{client.user_client.first_name}} 
                </td>
                <td>
                  {{client.user_client.last_name}}
                </td>
                <td>
                  {{client.user_client.email}}
                </td>
                <td class="text-right">
                  <a href="{{client.get_detail_client}}" class="btn btn-info">Detalle</a>
                </td>
              </tr>
            {% endfor %}  
            </tbody>
          </table>
        </div>
        {% else %}
        <h3>Necesitas ser administrador</h3>
        {% endif %}
      </div>
      {% include "account/pagination.html" with page=clients %}
    </div>
  </div>
</div>
</div>
{%endblock content%}