body {
    font-family:Helvetica, sans-serif;
    color:#222;
    line-height:1.5;
}


/* Cabecera */
    .cabecera {
        position: relative;
        padding: 0px;
        top: -30px;
        /*border: 1px solid #4CAF50;*/
    }

    .cabecera p{
        color:  #808080;
        text-align: center;
        /*text-decoration: underline;*/
        font-family: "Times New Roman", Times, serif;
        line-height: 0.5;
        font-size: 14px;
    }
    
   .logos_axio {
        position: absolute;
        top: -55px;
        left: 10;

        width: 80px;
        height: 80px;
        /*border: 1px solid #73AD21;*/
    }

    .logos_escuela {
        position: absolute;
        top: -55px;
        right: 10px;

        width: 80px;
        height: 80px;
        /*border: 1px solid red; */
    }
  
/* Info escuela */
    .waterhole {
        position: absolute;
        top: 40px;
        right: 10px;

        width: 300px;
        height: 60px;
        /*border: 1px solid red;*/ 
    }

    .waterhole p {
        text-align: right;
        /*text-decoration: underline;*/
        line-height: 0.2;
        font-size: 12px;
    }
 
/* Dir de la escuela */

    .pie p {
        color:  #808080;
        text-decoration: underline;
        text-align: center;
        font-family: "Times New Roman", Times, serif;
        line-height: 0.5;
        font-size: 14px;
    }

/* Titulo */

    .titulo{
        text-align: center;
    }

/* text */

    .text p {
        text-align: justify;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

/* Table */

    .table {
        width:100%;
        border-spacing:0;
        border-collapse: collapse;
        margin:20px 0;
    }

    table th, table td {
        text-align:left;
        font-size:14px;
        padding:10px;
        margin:0;
    }

    tbody tr:nth-child(odd) {
        background:#efefef;
    }

    thead th, tbody tr.total {
        background:#5993bb;
        color:#fff;
        font-weight:bold;
    }